<div class="container">
  <h1>POST Demo (Mock)</h1>

  <!-- Input para la URL del API -->
  <div class="form">
    <label>API Base URL (Mock)</label>
    <input
      type="text"
      [(ngModel)]="apiBaseUrl"
      placeholder="https://api.jsoning.com/mock/TOKEN/"
    />
  </div>

  <hr />

  <!-- Formulario del POST -->
  <div class="form">
    <label>ID</label>
    <input type="text" [(ngModel)]="form.id" placeholder="ID del álbum..." />

    <label>Nombre del Álbum</label>
    <input type="text" [(ngModel)]="form.name" placeholder="Nombre del álbum..." />

    <label>Artista</label>
    <input type="text" [(ngModel)]="form.artist" placeholder="Nombre del artista..." />

    <label>Año</label>
    <input type="number" [(ngModel)]="form.year" placeholder="Año de lanzamiento..." />

    <label>Tracks (separados por coma)</label>
    <input 
      type="text" 
      [(ngModel)]="tracksInput" 
      placeholder="Track 1, Track 2, Track 3..." 
    />
    <small>Ingresa los tracks separados por coma</small>

    <button (click)="sendPost()" [disabled]="loading">
      {{ loading ? 'Enviando...' : 'Enviar POST' }}
    </button>
    <p *ngIf="albumMessage" class="error">
      {{ albumMessage }}
    </p>

  <hr />
  <!-- Formulario del POST artista -->
  <h2>Crear Artista</h2>

  <div class="form">
    <label>ID</label>
    <input type="text" [(ngModel)]="artistForm.id" placeholder="ID del artista..."/>

    <label>Nombre</label>
    <input type="text" [(ngModel)]="artistForm.name" placeholder="Nombre del artista..."/>

    <label>Status</label>
    <input type="text" [(ngModel)]="artistForm.status" placeholder="Estatus del artista [Activo/Inactivo]..."/>

    <label>Género</label>
    <input type="text" [(ngModel)]="artistForm.genre" placeholder="Género del artista..."/>

    <button (click)="sendArtist()" [disabled]="loading">
      Crear Artista
    </button>

    <p *ngIf="artistMessage" class="error">
      {{ artistMessage }}
    </p>

  </div>

  <hr />
  <h2>Crear Género</h2>

  <div class="form">
    <label>ID</label>
    <input type="text" [(ngModel)]="genreForm.id" placeholder="ID del Género..."/>

    <label>Nombre</label>
    <input type="text" [(ngModel)]="genreForm.name" placeholder="Nombre del género..."/>

    <label>País de Origen</label>
    <input type="text" [(ngModel)]="genreForm.origin_Country" placeholder="País de origen..."/>

    <button (click)="sendGenre()" [disabled]="loading">
      Crear Género
    </button>

    <p *ngIf="genreMessage" class="error">
      {{ genreMessage }}
    </p>
  </div>



</div>